<div class="row">
    <div onclick=home() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Symbol Settings</div>
        </div>
    </div>
    <div onclick=order_history() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Order History</div>
        </div>
    </div>
    <div onclick=trade_history() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Trade History</div>
        </div>
    </div>
</div>
<script>
    function home(){
        document.location="{% url 'home' %}"

    }
    function order_history(){
        document.location="{% url 'order' %}"

    }
    function trade_history(){
        document.location="{% url 'trade' %}"

    }
</script>
