{% extends 'base.html' %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Order History</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Order History</li>
            </ol>
            {% include 'main.html' %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Order History DataTable
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr style="background-color:white;">
                                <td>Airi Satou</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock content %}