{% extends 'base.html' %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Signal</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Signal</li>
            </ol>
            <div class="row">
                <div onclick=api() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
                    <div class="card bg-secondary text-white mb-4">
                        <div class="card-body">API</div>
                    </div>
                </div> 
                <div onclick=source() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Signal Source</div>
                    </div>
                </div> 
                <div onclick=live() class="col-xl-3 col-md-6" type="button" class="btn btn-outline-primary">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Live Siganl</div>
                    </div>
                </div> 
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-signal" aria-hidden="true"></i>
                    Signal
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr style="background-color:{{ color }};">
                                <td>Airi Satou</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function api(){
            document.location = "{% url 'api' %}"
        }
        function live(){
            document.location = "{% url 'live' %}"
        }
        function source(){
            document.location = "{% url 'source' %}"
        }
    </script>
    {% endblock content %}