{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% load static %}
<section style="margin-top: 70px;">
	<div class="main">
		<div class="limiter">
			<div class="container-login100" style="background-image: url('https://picsum.photos/id/1041/110');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <P style="font-size: medium;">{% trans "We have sent a link to 'Reset Your Password" %}</p>
                	{% if user.is_authenticated %}
					{% include "account/snippets/already_logged_in.html" %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
