{% extends 'account/base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<section style="margin-top: 70px;">
	<div class="main">
		<div class="limiter">
			<div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<form  method="POST" action="{% url 'account_change_password' %}" class=" password_change login100-form validate-form">
						<span class="login100-form-title p-b-49">
							Change Your Password
						</span>
						{% csrf_token %}
						{% bootstrap_form form %}
						
						
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">
									Change
								</button>
							</div>
						</div>
						<div class="flex-col-c p-t-155">
							<a href="{% url 'account_signup' %}" class="txt2">
								Sign Up
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="dropDownSelect1"></div>
	</div>
</section>
{% endblock content %}	
