{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<section style="margin-top: 70px;">
    <div class="main">
        <div class="limiter">
            <div class="container-login100" style="background-image: url('https://picsum.photos/id/1041/110');">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <h3>{% trans "Verify Your E-mail Address" %}</h3>
                    <p style="margin-top: 10%;">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to
                        finalize the signup process. Please contact us if you do not receive it within a few
                        minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}